{% extends 'base.html' %}
{% block content %}


       <!-- Main container div body -->      
        <!-- Background image -->
        <div class="p-0 text-center bg-light bg-image" style="
            background-image: url('https://www.kindpng.com/picc/m/65-652160_office-stationery-png-download-office-supplies-transparent-png.png');
            height: 280px;
            margin-top: px;
            background-repeat: no-repeat;
            background-position: 12rem;
          ">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.555);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3 mt-5" style="text-shadow:0px 0px 12px rgb(3, 2, 2) ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;">Ink Spot</h1>
                <h4 class="mb-5" style="text-shadow:0px 0px 8px rgb(3, 3, 3) ;">Amazing product explore Now</h4>
                <a class="btn btn-outline-light btn-lg mb-5 shadow  href="catogeries/" role="button">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Background image -->
      </header>

           <div class="cat p-2">
                    <p class=" mt-5 h4 text-center">
                        👀📚 All amazing product explore now 📓📙
                    </p>
                    <hr>
           </div>
             
                <!-- categories of produtc to display in home page -->
                <div class="row align-items-center text-center p-4 m-0">
                 
                  <div class="col m-1" >
                        <a href="#" style="text-decoration: none;color: black;">
                        <img class="rounded-circle border-danger mb-2 shadow_card shadow-4-strong border shadow w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/image_38d82efd-7de4-4378-80d2-d5e523d9474f_720x.png?v=1616062787" /> 
                     <b>MARKER</b>
                      </a>
                    </div>
                    
                    <div class="col m-1"  >
                      <a href="#" style="text-decoration: none;color: black;">
                      <img class="rounded-circle mb-2 border-success shadow_card shadow-4-strong border shadow w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/solo-premium-notebook-a5notebooks-notepadssoloscooboona5518904108227210-290124_280x.jpg?v=1649778606" /> 
                   <b>NOTE BOOKS</b>
                    </a>
                  </div>
                
                  <div class="col m-1"  >
                    <a href="#" style="text-decoration: none;color: black;">
                    <img class="rounded-circle mb-2 border-primary shadow_card shadow-4-strong border shadow w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/kangaro-dp-600-paper-punch-601765_280x.jpg?v=1641550612" /> 
                 <b>PAPER PUNCH</b>
                  </a>
                </div>
                
                <div class="col m-1" >
                  <a href="product/?categories=6" style="text-decoration: none;color: black;">
                  <img class="rounded-circle mb-2 border-warning shadow_card shadow-4-strong border shadow w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/zebra-sarasa-clip-pen-10-07mmgel-penzebrascooboojje15-bl4901681143320-122732_280x.jpg?v=1657564607" /> 
               <b>CLIP PENS</b>
                </a>
              </div>
                  

              <div class="col m-1"  >
                <a href="#" style="text-decoration: none;color: black;">
                <img class="rounded-circle border-secondary mb-2 shadow_card shadow-4-strong border shadow w-100 p-4" alt="avatar2" src=https://cdn.shopify.com/s/files/1/0260/9384/6583/products/solo-multipen-holder-ds101-484659_280x.jpg?v=1656740111" /> 
             <b>MULTIPEL HOLDERS</b>
              </a>
            </div>
            
            <div class="col m-1"  >
              <a href="#" style="text-decoration: none;color: black;">
              <img class="rounded-circle mb-2 border-dark shadow_card shadow-4-strong border shadow w-100 p-2" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/classmate-asteroid-mathematical-drawing-instruments-451848_280x.jpg?v=1641550262" /> 
           <b>GEOMETRY BOX</b>
            </a>
          </div>
        </div>
       </div>
      </div>  

{% endblock %}
